body {
    background: #ffa600;
}
.box{
    width:500px;
    length: auto;
    padding:30px;
    position: absolute;
    top:0%;
    left:0%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    text-align: left;

}